#content
  %section#status
    %h3 
      = "Server Name: #{@server.friendly_name}"
    %h3{:class => @server.status}
      = @server.status.upcase
    %h3
      IP: 
      %pre#ip
        #{@server.public_ip}
  
    - if @admin
      %section#actions 
        %h3 
          - case @server.status
          - when 'stopped'
            %button#start
              Start Server
            -#= button_to 'Start Server', start_path
            = refresh_page
          - when 'running'
            %button#stop
              Stop Server
            -#= button_to 'Stop Server', stop_path
          - when 'stopping'
            = refresh_page
          - when 'pending'
            = refresh_page
