#content
  %h2
    = @server.friendly_name
  %section
    .details
      = "Server Status: #{@server.status}"
      %br
      = "IP: #{@server.public_ip}"
      
  - if @admin
    - case @server.status
      - when 'stopped'
        = link_to 'Start Server', start_path
        %br
        = refresh_page
      - when 'running'
        = link_to 'Stop Server', stop_path
      - when 'stopping'
        = refresh_page
      - when 'pending'
        = refresh_page


